body {
    background: rgb(78, 78, 236);
    font: normal 15pt arial;
}

header {
    color: rgb(243, 233, 233);
    text-align: center;

}

section {
    background: rgb(238, 220, 220);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(29, 19, 19);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
